*.class

log

# Package Files
*.jar
*.war
*.ear

# Mac files
.DS_Store

# Usual build folders
target/
build/
dist/

pom/p?p/target
pom/p?p/build/
pom/p?p/dist/

#docker files
docker_ops/files/AM.sql
docker_ops/pap/conf/
docker_ops/pdp/conf/
docker_ops/pub_certs/

docker_ops/*.store
docker_ops/*.cer

# IDE files
## IntellyJ
*.ipr
*.iml
*.iws
*.idea
## Vim
*.swp



nbactions.xml
nb-configuration.xml
