*.class

log

# Package Files
*.jar
*.war
*.ear

# Mac files
.DS_Store

# Usual build folders
target/
build/
dist/

pom/p?p/target
pom/p?p/build/
pom/p?p/dist/

*.store
*.cer

# IDE files
## IntellyJ
*.ipr
*.iml
*.iws
*.idea
## Vim
*.swp



nbactions.xml
nb-configuration.xml
